{% extends 'carros/base.html' %}

{% block title %}
Carros
{% endblock %}

{% block content %}

    <!-- isso é um comentário no HTML -->
    {% if carros %}
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nome do carro</th>
                </tr>
            </thead>
            <tbody>
                {% for carro in carros %}
                <tr>
                    <th>{{forloop.counter }}</th>
                    <th>
                        <a href="/carros/{{carro.id}}">
                        {{carro.name}}
                        </a>


                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h3>Nenhum carro cadastrado</h3>
    {% endif %}
{% endblock %}